node_modules
/.cache
/netlify/functions/server/index.js
/public/build
/.netlify

/.env

/app/styles/tailwind.css

cypress/videos/

build
.idea/encodings.xml
.idea/world-cup-stats.iml
.idea/vcs.xml
.idea/prettier.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
